# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Tutorial_3.2_Moving_From_2D_to_3D.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
